.backIcon {
  width: 50%;
  height: 50%;
}

.endInput {
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: 0.25em var(--primary-active) outset;
  padding: 0.3em;

  &:focus {
    outline: none;
    border: 0.25em var(--primary-active) inset;
    box-shadow: 0 0 0.1em 0.1em var(--primary-active-hover);
  }
}

.deleteBtn {
  padding: 0.5em;
  color: var(--required);
  border-color: var(--required) solid;
  border-radius: 1em;
  transition: all 0.25s;
  font-size: 0.75em;
  font-weight: 700;

  &:hover {
    background-color: var(--required-hover);
    color: var(--required);
    border-color: var(--required);
  }
}

.respondentList ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.5rem;
  list-style-type: none;
  padding: 0rem 0.5rem 0.2rem 0.5rem;
}

.respondentList li {
  background-color: var(--background-alt);
  margin-bottom: 0.1rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 0.8em;
  overflow-wrap: break-word;
  cursor: pointer;
  transition: color 0.25s;

  &:hover {
    background-color: var(--primary-hover);
  }
}

.selectedRespondent {
  color: var(--primary-active);
  font-weight: 800;
}
