#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.topbar {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.home {
  margin: 2rem;
}

.inlineButton {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1em;
  outline: none;
  border: none;
  text-decoration: underline;
  transition: color 0.25s;

  &:hover {
    color: var(--primary-hover);
  }
}
