:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;

  color: var(--primary);
  background-color: var(--background-alt);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #343434;
  --background-alt: #454545;

  --primary: #b09cff;
  --primary-active: #bad8ff;
  --primary-hover: #907cdf;
  --primary-active-hover: #9ab8df;
  --required: #ff6666;
  --required-hover: #991111;
}

::selection {
  background: var(--primary-active);
}

a {
  color: inherit;
  transition: color 0.25s;
}
a:hover {
  color: var(--primary-hover);
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background);
  cursor: pointer;
  transition: all 0.25s;
  color: inherit;
}
button:hover {
  border-color: var(--primary-active);
}
button:active {
  color: var(--primary-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: not-allowed;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  display: block;
}
